* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo {
    display: flex;
    justify-content: center;
}

.center {
    /*  */
    width: 90%;
    margin: auto;
    text-align: center;
}

.height-box {
    display: inline-block;
    height: 74px;
}

.border {
    border: 1px solid white;
}

.small {
    font-size: small;
}

.bg {
    background-color: rgb(238, 238, 238);
    padding: 1px;
}

.box-1 {
    width: 37%;
    background-color: rgb(126, 229, 218);
    float: left;
}

.box-2 {
    width: 20%;
    background-color: rgb(112, 204, 194);
    float: left;
}

.box-3 {
    width: 42.2%;
    background-color: rgb(98, 179, 170);
    float: left;
}

